@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims;
@using totten_romatoes.Client.Shared.Components.Localization

<MudPaper   Width="100%" Outlined="true" >
    <MudGrid Spacing="0">
        <MudItem Class="px-6 py-4" xs="12" id="reviewHeader">
            <MudGrid>
                <MudItem Class="d-flex align-center flex-wrap" xs="12" md="6">
                    <MudAvatar   Variant="Variant.Outlined" Color="@RandomColorPick()">@(@CurrentReview.Author.UserName.First())</MudAvatar>
                        <MudText Class="d-flex align-content-center flex-wrap ml-2 mr-1" Typo="Typo.h6" >
                        @CurrentReview.Author!.UserName   
                    </MudText >
                    <h5 class="my-auto">[</h5>
                    <MudText  Class="d-flex align-content-center flex-wrap px-1 " Color="Color.Success" Typo="Typo.h6" >
                        @CurrentReview.Author.Rating 
                    </MudText>
                    <h5 class="my-auto">]</h5>
                    <MudText  Class="d-flex align-content-center flex-wrap pt-1 ml-3" Typo="Typo.body2" >
                        @CurrentReview.DateOfCreationInUTC.ToLocalTime().ToString("dd MMM yyy HH':'mm")
                    </MudText>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudText  Class="d-flex flex-1 flex-wrap justify-end" Typo="Typo.h6">
                        <MudLink Typo="Typo.h6" Class=" d-flex flex-wrap justify-end"  Href="/">@CurrentReview.Subject.Name</MudLink>
                        (
                        <MudIcon Class="d-flex pt-1" Icon="@Icons.Filled.Star" Color="Color.Warning" Size="Size.Medium"/>
                        @(_subjectRating == double.MinValue ? "--" : _subjectRating) )
                    </MudText>
                    <AuthorizeView>
                        <Authorized>
                            @if (_userGrade == 0)
                            {
                                <MudRating  SelectedValueChanged="UserRatedSubjectHandler" Class="d-flex justify-end"  />
                            }
                            else
                            {
                                <MudRating  SelectedValue="_userGrade" ReadOnly="true" Class="d-flex justify-end"  />
                            }
                        </Authorized>
                        <NotAuthorized>
                            <MudRating Disabled="true" Class="d-flex justify-end" />
                        </NotAuthorized>
                    </AuthorizeView>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12">
            <MudDivider />
        </MudItem>
        <MudItem Class="px-6 py-4" xs="12">
            <MudText Typo="Typo.h4" >
                @CurrentReview.Title
            </MudText>
        </MudItem>
        @if (CurrentReview.ReviewImage != null)
        {
            <MudItem Class="px-6" xs="12">
                <MudImage Src="@CurrentReview.ReviewImage.ImageUrl" Width="100"/>
            </MudItem>
        }
        @if (IsReviewWrapped)
        {
            <MudItem Class="px-6 pt-4" Style="height:7rem; overflow:hidden"  xs="12" id="reviewBody">
            @((MarkupString)_htmlReviewBody)
            </MudItem>
            <MudItem Class="mt-n4 pt-4 px-6" xs="12" >
                <MudDivider Class="mb-4"></MudDivider>
                <MudButton Variant="Variant.Outlined" OnClick="ReadFullReview" Size="Size.Medium"  Color="Color.Transparent">@_loc["Read"]</MudButton>
            </MudItem>
        }
        else
        {
            <MudItem Class="px-6 pt-4" xs="12" id="reviewBody">
            @((MarkupString)_htmlReviewBody)
                <MudRating Class="d-flex flex-grow-1 justify-end mt-2" ReadOnly="true" SelectedValue="@CurrentReview.AuthorGrade" Size="Size.Medium" MaxValue="10" />
            </MudItem>
        }
        @if (CurrentReview.Tags != null)
        {
            <MudItem Class="px-6 py-4" xs="12">
            @foreach (var tag in CurrentReview.Tags)
            {
                <MudChip Size="Size.Small">@tag.Name</MudChip>
            }
            </MudItem>
        }
        <AuthorizeView>
            <Authorized >
                @if((_userId != null && _userId.Equals(CurrentReview.Author.Id))  || context.User.IsInRole("Admin"))
                {
                    <MudItem Class="px-6 pb-4" xs="12">
                        <MudButton Variant="Variant.Outlined" OnClick="DeleteReview" Color="Color.Error">DELETE</MudButton>
                        <MudButton Class="mx-2" Variant="Variant.Outlined" OnClick="ModifyReview" Color="Color.Info">MODIFY</MudButton>
                    </MudItem>
                }
            </Authorized>
        </AuthorizeView>
        <MudItem xs="12">
            <MudDivider />
        </MudItem>
        <MudItem Class="pl-3 pr-6" xs="12">
            <MudGrid>
                <MudItem Class="d-flex" xs="6" sm="9">
                    @if (CurrentReview.Likes != null && CurrentReview.Likes.Any(l => l.FromUserId == _userId))
                    {
                        <MudIconButton Icon="@Icons.Material.Outlined.Favorite" Disabled="_likeButtonDisabled" OnClick="UserDislikedReview" Size="Size.Medium" Color="Color.Secondary"></MudIconButton>
                    }else{
                        <MudIconButton Icon="@Icons.Material.Outlined.FavoriteBorder" Disabled="_likeButtonDisabled" OnClick="UserLikedReview" Size="Size.Medium" Color="Color.Default"></MudIconButton>
                    }
                    <MudText Class="my-auto">@CurrentReview.Likes!.Count</MudText>
                    @if (IsReviewWrapped)
                    {
                        <MudIcon Class="ml-6 my-auto" ViewBox="0 -1 24 24" Icon="@Icons.Rounded.ChatBubbleOutline" Size="Size.Medium" />
                        @if (CurrentReview.Comments == null)
                        {
                            <MudLink Class="d-flex align-content-center pl-1 flex-wrap" Href="@($"/review/{CurrentReview.Id}")" Typo="Typo.subtitle1">( @CurrentReview.CommentsAmount )</MudLink> 
                        }
                        else
                        {
                            <MudLink Class="d-flex align-content-center pl-1  flex-wrap" Href="@($"/review/{CurrentReview.Id}")" Typo="Typo.subtitle1">( @CurrentReview.Comments.Count )</MudLink> 
                        }
                    }
                </MudItem>
                <MudItem Class="d-flex flex-grow-1 align-center "  xs="6" sm="3">
                    <MudText Class="d-flex flex-1 justify-end" Typo="Typo.body2" >
                        @_loc!["Category:"] 
                    </MudText>
                    <MudLink Class="pl-1" Href="/" Typo="Typo.body2"> @_sharedLoc![CurrentReview.ReviewCategory.ToString()]</MudLink>  
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudPaper>
@code {
    [Parameter]
    public ReviewModel CurrentReview { get; set; } 
    [Parameter]
    public AuthenticationStateProvider? AuthStateProvider { get; set; }
    [Parameter]
    public EventCallback<long> DeleteReviewFromList { get; set; }
    [Parameter]
    public EventCallback<ApplicationUser> UpdateReviewAuthorRating { get; set; }
    [Parameter]
    public bool IsReviewWrapped { get; set; }
    [Inject]
    private HttpClient? _httpClient { get; set; }
    [Inject]
    private IStringLocalizer<Review>? _loc { get; set; }
    [Inject]
    private IStringLocalizer<SharedLocalization>? _sharedLoc { get; set; }
    [Inject]
    private NavigationManager? _nav { get; set; }
    private AuthenticationState? authState;
    private string? _htmlReviewBody;
    private string? _userId;
    private double _subjectRating = double.MinValue;
    private int _userGrade = 0;
    private bool _likeButtonDisabled = false;

    protected async override Task OnInitializedAsync()
    {
        authState = await AuthStateProvider!.GetAuthenticationStateAsync();
        await base.OnInitializedAsync();
    }

    protected async override Task OnParametersSetAsync()
    {
        _htmlReviewBody = Markdig.Markdown.ToHtml(CurrentReview.ReviewBody!);
        if(authState == null)
            authState = await AuthStateProvider!.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity!.IsAuthenticated)
        {
            _userId = user.FindFirstValue("sub");
            var userGrade = CurrentReview.Subject.Grades!.FirstOrDefault(g => g.AuthorId == _userId);
            if (userGrade != null)
                _userGrade = userGrade.Value;
            else
                _userGrade = 0;
        }
        else
        {
            _likeButtonDisabled = true;
        }
        CalculateSubjectRating();
        await base.OnParametersSetAsync();
    }

    public async Task UserRatedSubjectHandler(int value)
    {
        _userGrade = value;
        GradeModel newGrade = new();
        newGrade.Value = value;
        newGrade.SubjectId = CurrentReview.SubjectId;
        newGrade.AuthorId = _userId;
        await _httpClient!.PostAsJsonAsync<GradeModel>(Constants.SUBJECT_GRADE_URL, newGrade);
        CurrentReview.Subject.Grades!.Add(newGrade);
        CalculateSubjectRating();
    }

    private async Task<string> GetUserId()
    {
        var authState = await AuthStateProvider!.GetAuthenticationStateAsync();
        var user = authState.User;
        return user.FindFirstValue("sub");
    }

    private async Task DeleteReview()
    {
        if(_httpClient != null){
            await _httpClient.DeleteAsync($"{Constants.REVIEWS_URL}/{CurrentReview.Id}");
            await DeleteReviewFromList.InvokeAsync(CurrentReview.Id);
        }
    }

    private async Task ModifyReview()
    {
        _nav.NavigateTo($"create-review/{CurrentReview.Id}");
    }

    private Color RandomColorPick()
    {
        return (Color)Random.Shared.Next(0, 11);
    }

    private void CalculateSubjectRating()
    {
        if (CurrentReview.Subject.Grades != null && CurrentReview.Subject.Grades.Count > 0)
        {
            int gradesSum = CurrentReview.Subject.Grades.Select(g => g.Value).Sum();
            _subjectRating = Math.Round((double)gradesSum / CurrentReview.Subject.Grades.Count, 1);
        }
        else
        {
            _subjectRating = double.MinValue;
        }
    }

    private void ReadFullReview()
    {
        _nav.NavigateTo($"review/{CurrentReview.Id}");
    }

    private async Task UserLikedReview()
    {
        if (_likeButtonDisabled)
            return;
        _likeButtonDisabled = true;
        if(_httpClient != null)
        {
            if (CurrentReview.Likes == null)
                CurrentReview.Likes = new();
            LikeModel newLike = new();
            newLike.FromUserId = _userId;
            newLike.ToUserId = CurrentReview.AuthorId!;
            newLike.ReviewId = CurrentReview.Id;
            await _httpClient.PostAsJsonAsync<LikeModel>(Constants.REVIEWS_LIKE_URL, newLike);
            CurrentReview.Likes.Add(newLike);
            CurrentReview.Author!.Rating++;
            await UpdateReviewAuthorRating.InvokeAsync(CurrentReview.Author!);
        }
        await Task.Delay(100);
        _likeButtonDisabled = false;
        StateHasChanged();
    }
    private async Task UserDislikedReview()
    {
        if (_likeButtonDisabled)
            return;
        _likeButtonDisabled = true;
        if(_httpClient != null && CurrentReview.Likes != null)
        {
            var likeToRemove = CurrentReview.Likes.SingleOrDefault(l => l.FromUserId == _userId);
            if(likeToRemove != null)
            {
                await _httpClient.DeleteAsync($"{Constants.REVIEWS_LIKE_URL}/{likeToRemove.Id}");
            }
            CurrentReview.Likes.Remove(likeToRemove!);
            CurrentReview.Author!.Rating--;
            await UpdateReviewAuthorRating.InvokeAsync(CurrentReview.Author);
        }
        await Task.Delay(100);
        _likeButtonDisabled = false;
        StateHasChanged();
    }

}
